<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis-config3.xml -->
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Article"
                   type="com.geek.entity.Article"/>

        <typeAlias alias="Author"
                   type="com.geek.entity.Author"/>
    </typeAliases>

    <!--用于定义全局的类型处理器-->
    <typeHandlers>
        <typeHandler handler="com.geek.constanst.ArticleTypeHandler"
                     javaType="com.geek.constanst.ArticleTypeEnum"/>
    </typeHandlers>
</configuration>