<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.mapper.AuthorMapper">
    <resultMap id="articleResult" type="Article">
        <id property="id" column="article_id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="createTime" column="createtime"/>
    </resultMap>
    <resultMap id="authorResult" type="Author">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="email" column="email"/>
        <collection property="articles" resultMap="articleResult"/>
    </resultMap>
    <!--注意看这里面的resultMap 这个标签里面包含一个一个多的配置 collection-->
    <select id="findOne" resultMap="authorResult">
        SELECT
        au.id, au.name, au.age, au.sex, au.email, ar.id as article_id,
        ar.title, ar.type, ar.content, ar.createtime
        FROM
        author au, article ar
        WHERE
        au.id = ar.author_id AND au.id = #{id}
</select>
</mapper>